<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title> <!-- 使用block和endblock作为嵌套的代码块开始结束标志, block后面的title是代码块名称 -->
</head>
<body>
    <div>
        <a href="{% url 'name' %}">
            <h1>templates/base.html</h1>
        </a>
    </div>
    <hr>
    {% block content %}{% endblock %} <!-- 内容代码块 -->
</body>
</html>
